<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Control Panel</title>
</head>
<body>
	<div className="row container-fluid">
		<div className="col-md-12">
			<div className="border-bottom pt-3 mb-2">
				<p>Here</p>
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>